@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  background-image: radial-gradient(circle at 50% 0%, #1a1a1a 0%, #050505 70%);
  color: #e5e5e5;
  min-height: 100vh;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #050505; 
}

::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff3e3e; 
}

/* Range Slider Styling */
input[type=range] {
  -webkit-appearance: none; 
  background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 12px;
  border-radius: 2px;
  background: #ff3e3e;
  cursor: pointer;
  margin-top: -10px; 
  box-shadow: 0 0 10px #ff3e3e;
  border: 1px solid white;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #333;
  border-radius: 2px;
}

input[type=range]:focus {
  outline: none;
}


